{% extends 'base.html.twig' %}

{% block title %}Rol index{% endblock %}

{% block body %}
    <h1>Rol index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rol in rols %}
            <tr>
                <td>{{ rol.id }}</td>
                <td>{{ rol.descripcion }}</td>
                <td>
                    <a href="{{ path('app_rol_show', {'id': rol.id}) }}">show</a>
                    <a href="{{ path('app_rol_edit', {'id': rol.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rol_new') }}">Create new</a>
{% endblock %}
